{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block content %}
<h1>Your Files</h1>
<div class="row">
    {% for file in files %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ file.filename }}</h5>
                <p class="card-text">
                    Type: {{ file.content_type }}<br>
                    Size: {{ file.filesize }} bytes<br>
                    Checksum: {{ file.checksum }}
                </p>
                <a href="/download?etag={{ file.etag }}" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if error %}
<div class="alert alert-danger mt-3">{{ error }}</div>
{% endif %}
{% endblock %}
