{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block content %}
<h1>Your Files</h1>
{% if files %}
<div class="row">
    {% for file in files %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ file.filename }}</h5>
                <p class="card-text">
                    Type: {{ file.content_type }}<br>
                    Size: {{ file.filesize }} bytes<br>
                    Checksum: {{ file.checksum }}
                </p>
                {% if not file.deleted %}
                <a href="/download?etag={{ file.etag }}&archived=false" class="btn btn-primary">Download</a>
                {% else %}
                <a href="#" class="btn btn-secondary" data-toggle="tooltip" title="Your file is gone!" disabled>Download</a>
                {% endif %}
                {% if username == "admin" %}
                <a href="/download?etag={{ file.etag }}&archived=true" class="btn btn-primary">Download archived</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No files available.</p>
{% endif %}
{% if error %}
<div class="alert alert-danger mt-3">{{ error }}</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
